@model IList<AirBench.Models.Bench>


@if (Request.IsAuthenticated)
{
    <h2>Welcome to AirBench @ViewBag.Name</h2>
}
@{
    ViewBag.Title = "Index";
}

<div id="map" class="map"></div>

<table>
    <tr>
        <th>Bench No.</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Poster</th>
        <th></th>
    </tr>

    <tbody>
        @foreach (var bench in Model)
        {
            <tr>
                <td>@bench.Id</td>
                <td>@bench.Rating</td>
                <td>@bench.Description</td>
                <td>@bench.Poster.FirstName[0]. @bench.Poster.LastName</td>
                <td>
                    @Html.ActionLink("Details", "Index", "Bench", new { id = bench.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add a Bench", "Create", "Bench", null, new { @class = "btn btn-info" })
<script src="~/scripts/index.js"></script>

@section scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/css/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/build/ol.js"></script>
}