@model IList<AirBench.Models.Bench>


@if (Request.IsAuthenticated)
{
    <h2>Welcome to AirBench @ViewBag.Name</h2>
}
@{
    ViewBag.Title = "Index";
}

<div id="map" class="map"></div>

<div id="filter">
    <div>
        <label>Minimum No. Seats</label>
        <input id="min" type="number" value="1" />
    </div>
    <div>
        <label>Maximum No. Seats</label>
        <input id="max" type="number" value="1"/>
    </div>
</div>

<table id="benches">
    <tr>
        <th>Bench No.</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Seats</th>
        <th>Poster</th>
        <th></th>
    </tr>

    <tbody>
        @foreach (var bench in Model)
        {
            <tr data-seats=@bench.Seats>
                <td>@bench.Id</td>
                @if(@bench.Reviews.Count() == 0)
                {
                    <td>No Rating</td>
                }
                else
                {
                    <td>@((float)System.Math.Round(bench.Rating, 1))</td>
                }
                @if (bench.Description.Split(' ').Length <= 10)
                {
                    <td>@bench.Description</td>
                }
                <td>@bench.Seats</td>
                <td>@bench.Poster.FirstName @bench.Poster.LastName[0]</td>
                <td>
                    @Html.ActionLink("Details", "Index", "Bench", new { id = bench.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Add a Bench", "Create", "Bench", null, new { @class = "btn btn-info" })
<script src="~/scripts/index.js"></script>

@section scripts {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/css/ol.css" type="text/css">
    <style>
        .map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.0.1/build/ol.js"></script>
}