@model AirBench.FormModels.CreateBench

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Bench", FormMethod.Post, new { id = "CreateBenchForm" }))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary()
    <div>
        @Html.LabelFor(m => m.Description)
        @Html.TextBoxFor(m => m.Description)
    </div>

    <div>
        @Html.LabelFor(m => m.Seats)
        @Html.TextBoxFor(m => m.Seats)
    </div>

    <div>
        @Html.LabelFor(m => m.Latitude)
        @Html.TextBoxFor(m => m.Latitude)
    </div>

    <div>
        @Html.LabelFor(m => m.Longitude)
        @Html.TextBoxFor(m => m.Longitude)
    </div>

    <div>
        <button type="submit" id="createButton" disabled>Login</button>
    </div>
 

}

<div>
    @Html.ActionLink("Back to List", "Index", "Home")
</div>

<script src="~/scripts/index.js"></script>
